<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JO 2024 - Billetterie</title>
</head>
<body>
    <h1>Ici ça présente les offres</h1>
    <section>
        <h2>Solo</h2>
        <h3>Un billet pour une personne.</h3>
    </section>
    <section>
        <h2>Duo</h2>
        <h3>Réservez pour deux personnes et économisez.</h3>
    </section>
    <section>
        <h2>Familial</h2>
        <h3>Un billet à prix réduit pour 4 personnes.<br>Venez nombreux !</h3>
    </section>
</body>
</html>